@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Science+Gothic:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/death-note-font');
h3{
   color: white;
    font-family: "Science Gothic" ;
text-align: center;

}
h1    {
    margin-left: 200px;
    color: white;
    font-family: "Death Note Font",  sans-serif;
    font-weight: 300;

}
body{
    background-color: rgb(0, 0, 0);
}
.basd{
    text-align: center;
}
p{ 
    margin-top: 600px;
 margin-left: 650px ;
   width: 300px;
     color: white;
    text-align: center;
}
p{
    font-family: "Death Note Font",  sans-serif ;
}
